[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.0.0"

[dev-packages]
flake8 = "3.0.1"
bandit = "0.10.1"
pytest = "8.0.0"

[requires]
python_version = "3.10"
